extends ../base.pug

block content
  h1 标题: #{vote.title}
  h2 描述: #{vote.desc}
  hr
  ul(data-voteid=vote.id data-optionids=options)#option-list
    each option in options
      li(data-optionid=option.id) 
        h3(data-optionid=option.id) #{option.content}
        span 0票

  if username
      h2.user #{info}  
  
  script(src="/socket.io/socket.io.js") 
  script.
    let socket = io()
    socket.on('voteup',data=>{
      console.log(data)
    })
    let optionList = document.querySelector('#option-list')
    let voteId = optionList.dataset.voteid
    let options = JSON.parse(optionList.dataset.optionids) 


    function updateState(voteResult) {
      console.log('asdasd',options)
      var counted = _.countBy(voteResult, 'optionid')
      console.log(counted)
      options.forEach(option => {
        if (option.id in counted) {
          document.querySelector(`[data-optionid="${option.id}"]`).lastChild.textContent = counted[option.id] +'票'
        } else {
          document.querySelector(`[data-optionid="${option.id}"]`).lastChild.textContent = 0 +'票'
        }
      })
    }

    async function main() {
      var voteResult = (await axios.get(`/vote/info/${optionList.dataset.voteid}`)).data
      if (voteResult == null) {
        voteResult = []
      }
      console.log("初始: ",voteResult)
      updateState(voteResult)
    }
    main()
    optionList.addEventListener('click', async e => {
      let optionid = e.target.dataset.optionid
      let voteResult = (await axios.post(`/vote/${voteId}`, 
        {
          voteid: optionList.dataset.voteid,
          optionid: optionid,
        }
        )).data
        console.log("after vote: ",voteResult)
        updateState(voteResult)
    })